<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
    <h3>Edit Your Listing</h3>
    <form
      action="/listings/<%= listing._id %>?_method=PUT"
      method="POST"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          type="text"
          value="<%= listing.title %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Title is required.</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          placeholder="Enter description"
          class="form-control"
          required
        >
      <%= listing.description %>
      </textarea
        >
        <div class="invalid-feedback">Description is required.</div>
      </div>

      <div class="mb-3">
        Original Listing Image : <br />
        <img src="<%= originalImageUrl %>" />
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">New Image Url</label>
        <input
          name="listing[image]"
          type="file"
          placeholder="Image URL"
          class="form-control"
        />
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            type="number"
            value="<%= listing.price %>"
            placeholder="Price"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Price is required.</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            type="text"
            value="<%= listing.country %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">country is required.</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          type="text"
          value="<%= listing.location %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location is required.</div>
      </div>

      <button class="btn btn-dark" type="submit">Edit</button>
      <br /><br />
    </form>
  </div>
</div>
